.action {
  cursor: pointer;
}
*{
	font-size: 18px;
	margin: 0px auto;
	list-style: none;
	font-weight: normal;
	text-decoration: none;
}
a{
	color: #333;
}
h1{
	font-size: 40px;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
.search{
	width: 74%;
	height: 58px;
	position: fixed;
	left: 26%;
	/*z-index: 2;*/
	background: #fff;
	line-height: 56px;
	text-align: center;
	border-bottom: 1px solid #eee;
}
.slider{
	width: 26%;
	background: #f9f9f9;
	position: fixed;
	left: 0px;
	top: 0px;
	bottom: 0px;
	padding: 14px;
	box-sizing: border-box;
}
.slider .myId{
	width: 100%;
	height: 190px;
	border-bottom: 1px solid #eee;
	text-align: center;
	padding-top: 40px;
	box-sizing: border-box;
}
.slider .myId .photo{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #eee;

}
.slider .myId .info{
	line-height: 40px;
}
.slider h6{
	line-height: 40px;
	color: #777;

}
.slider ul {
	line-height: 36px;
}
.slider h6 span{
	position: relative;
	left: 40%;
	border: 1px solid #777;
	border-radius: 50%;
	display: inline-block;
	width: 19px;
	height: 19px;
	line-height: 22px;
	text-align:center;
}
/*main*/
.main{
	width: 74%;
	position: absolute;
	left: 26%;
	top: 56px;
}
/*home*/
.home{
	width: 100%;
	height: 100%;
	/*padding:20px;*/
	/*box-sizing: border-box;*/
}
.home .banner{
	width: 100%;
	height: 330px;
	padding:40px 20px 0px 20px;
	box-sizing: border-box;


}
.home .banner ul.img{
	position: relative;
}
.home .banner ul li{
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}
.home .banner ul li img{
	width: 100%;
	font-size: 0px;
}
.home .newSong{
	width: 100%;
	height: 240px;
	padding: 0px 20px;
	box-sizing: border-box;
	margin-bottom: 40px;
	
}
/*.home h2:nth-child(1){
	font-size: 20px;
	line-height: 80px;
	height: 80px;
	padding-left: 0px;

}*/
.home .fist{
	padding-left: 0px;
}
.home h2{
	font-size: 20px;
	line-height: 70px;
	height: 70px;
	padding-left: 23px;
}
.home .newSong .blank{
	width: 100%;
	background: #f9f9f9;
	padding-top: 20px;
	overflow: hidden;
}
.home .newSong ul.song{
	position: relative;
}
.home .newSong ul li{
	float: left;
	width: 50%;
	height: 70px;
	position: relative;

}
.home .newSong ul li .img{
	float: left;
	width: 15%;
	margin-right: 16px;
}
.home .newSong ul li img{
	width: 100%;
}
.home .newSong ul li .name{
	display: block;
	height: 36px;
	line-height: 30px;
}
.home .newSong ul li .singer{
	display: block;
	color: #666;
}
.home .newAlbum{
	width: 100%;
	height: 300px;
	background: -webkit-linear-gradient( #f7f7f7, #fff);
	padding-bottom: 20px;
}
.home .newAlbum ul{
	width: 100%;
}
.home .newAlbum ul li{
	float: left;
	width: 21%;
	height: 200px;
	margin-right: 43px;
	margin-left: -18px;
}
.home .newAlbum ul li .img{
	width: 100%;
	height: 80%;
	background: #fff;
}
.home .newAlbum ul li .img img{
	width: 100%;
	font-size: 0px;
}
.home .newAlbum ul li .name{
	display: block;
	height: 40px;
	line-height: 40px;
}
.home .newAlbum ul li .singer{
	color: #666;
}
.home .hotList{
	width: 100%;
	height: 360px;
	background: -webkit-linear-gradient( #f7f7f7, #fff);
	padding-bottom: 20px;
}
.home .hotList ul{
	width: 100%;
}
.home .hotList ul li{
	float: left;
	width: 21%;
	height: 200px;
	margin-right: 43px;
	margin-left: -18px;
}
.home .hotList ul li .img{
	width: 100%;
	height: 80%;
	background: #fff;
}
.home .hotList ul li .img img{
	width: 100%;
	font-size: 0px;
}
.home .hotList ul li .name{
	display: block;
	height: 40px;
	line-height: 40px;
}
.home .hotList ul li .singer{
	color: #666;
}

/*playerlist*/
.playerlist {
	width: 100%;
	height: 100%;
}
.playerlist h4{
	line-height: 66px;
	padding-left: 34px;
	font-size: 20px;
}
.playerlist li{
	float: left;
	width: 27%;
	height: 310px;
	margin-right: 29px;
	margin-bottom: 30px;
	background: #f9f9f9;
	margin-left: 1px;
}
.playerlist li img{
	width: 100%;
	/*height: 200px;*/
	background: #fff;
}
.playerlist li .subtext{
	padding: 8px;
	box-sizing: border-box;
	line-height: 26px;
	font-size: 18px;
	color: #333;
}
.playerlist li .author{
	font-size: 16px;
	display: block;
	padding: 4px 8px;
	box-sizing: border-box;
	color: #666;
}
/*share*/
.share {
	width: 100%;
	background: #efefef;
	overflow: hidden;
}
.publish textarea{
	width:99%;
	height: 130px;
}
.publish p{
	height: 42px;
	line-height: 40px;
	margin-bottom: 30px;
}
.publish p span{
	display: inline-block;
	width: 230px;
	background: #ddd;
	margin-left: 10px;
	text-align: center;
}
.publish p span:nth-child(3){
	float: right;

}
.sharelist {
	width: 100%
}
.sharelist li{
	width: 100%;

}
.sharelist li span.headPortrait{
	width: 50px;
	height: 50px;
	background: #fff;
	position: relative;
	left: -30px;
	display: inline-block;
}
.sharelist li span.nickname{
	position: relative;
	top: -30px;
	left: -20px;
	display: inline-block;
}
.sharelist li p.comment{
	width: 90%;
	height: 30px;
	background: #fff;
	
}
.sharelist li div.music{
	width: 90%;
	height: 140px;
	background: #fff;
	
}
.sharelist li div.img{
	width: 90%;
	height: 140px;
	background: #fff;
	
}
/*list*/
.list{
	width: 100%;
}
.list .header{
	width: 100%;
	height: 200px;
	margin-bottom: 20px;
}
.list .header .img{
	float: left;
	width: 200px;
	height: 200px;
	background: #fff;
	margin: 0px 40px;

}
.list .header span.subtext{
	width: 80%;
	display: block;
	font-size: 30px;
	height: 100px;
	background: #fff;
}
.list .header span.sumarry{
	width: 80%;
	display: block;
	font-size: 20px;
	height: 60px;
	background: #fff;
}
.list .content{
	width: 100%;
	overflow: hidden;
}
.list .content li{
	width: 100%;
	height: 40px;
	background: #fff;
}
.list .content li:nth-child(2n){
	background: #ddd;
}
.player{
	width: 100%;
	height: 78px;
	border-top: 1px solid #eee;
	background: rgba(255,255,255,0.9);
	position: fixed;
	bottom: 0px;
}
.player p{
	height: 100%;
	padding: 10px 0px 0px 20px;
	
}
.player p span{
	display: inline-block;
	width: 58px;
	height: 60px;
	background: #eee;
	margin-left: 14px;
}
.player p span.last{
	background: url(../img/icon/last.png) no-repeat;
	background-size: 68%;
	background-position: 4px 8px;
}
.player p span.next{
	background: url(../img/icon/next.png) no-repeat;
	background-size: 68%;
	background-position: 0px 8px;
}
.player p span.current{

	background: url(../img/icon/player.png) no-repeat;
	background-size: 80%;
	background-position: 0px 4px;
}
.player p span.music{

	background: url(../img/player/02.jpg) no-repeat;
	background-size: 100%;
	background-position: 0px 0px;
	margin-left: 20px;
}
.player p span.bar{
	width: 500px;
	height: 4px;
	margin-left:28px;
	position: relative;
	top: -10px;
}
.player p span.kuai{
	display: inline-block;
	width: 30px;
	height: 4px;
	position: absolute;
	left: -12px;
	top: 0px;
	background: #17B368;
	transform:translateX(0px);
}
.player .pannal{
	width: 100%;
	background-image: url(../img/background/01.png);
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	top: -781px;
	height: 768px;
	display: none;
}
.player .pannal:after{
	content: "";
	display: block;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
}
.player .pannal .close{
	position: absolute;
	right: 6px;
	top: 6px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.5);
	text-align: center;
	line-height: 44px;
}
.player .pannal .img{
	width: 300px;
	height: 300px;
	background:#f7f7f7;
	position: absolute;
	left: 70px;
	top: 150px;
}
.player .pannal .img img{
	width: 100%;
}
.player .pannal .content{
	position: absolute;
	left: 440px;
	top: 140px;
	height: 500px;
	overflow: hidden;
	color: #f7f7f7;
}
.player .pannal .content li{
	line-height: 44px;
	font-size: 18px;
}
